<div class="row" id="education">

<div class="col-md-12">
    <h2 class="mt-5 text-center">Education</h2>

    <div class="row">
    <div class="col-lg-7 mx-auto">
        
        <!-- Timeline -->
        <ul class="timeline">
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="education-content">
                    <h3><b>International High School Of Tuzla</b></h3>
                        <h4><b>High School</b></h4>
                        
                        <ul>
                            <li>Main focus was English language, Math and Informatics</li>
                            <li>Various social and scientific activities. </li>
                            
                                
                        </ul>
                  
                   
                </div>
            </li>
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="education-content">
                    <h3><b>BILDIT</b></h3>
                        <h4><b>Programming course</b></h4>
                        
                        <ul>
                            <li>Java programming</li>
                            <li>Object oriented programming </li>
                            <li>Git and GitHub</li>
                            
                                
                        </ul>
                  
                   
                </div> </li>
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="education-content">
                    <h3><b>IPI Akademija</b></h3>
                        <h4><b>Information technology</b></h4>
                        
                        <ul>
                            <li>Problem solving skills</li>
                            <li>Web programming </li>
                            <li>Object oriented programming </li>
                            <li>Data Structures and Algorithms</li>

                            
                                
                        </ul>
                  
                   
                </div> </li>
          
        </ul><!-- End -->

    </div>

    
</div>

</div>

</div>
