<div class="row" id="education">

<div class="col-md-12">
    <h2 class="mt-5 text-center">Education</h2>

    <div class="row">
    <div class="col-lg-10 mx-auto">
        
        <!-- Timeline -->
        <ul class="timeline">
            
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="education-content">
                    <h3><b>IPI Akademija</b></h3> <span class="float-right">Sept. 2018- Present</span>
                        <h4><b>Information Technology - Graduate Student</b></h4>
                        
                        <ul>
                            <li>Learning basics of programming using C programming language</li>
                            <li>Object Oriented Programing in C++ and creating a desktop application applying Qt framework. </li>
                            <li>Creating “Exam management” project for Web programming subject applying JavaScript, PHP and Bootstrap </li>
                        </ul>
                  
                   
                </div> </li>
          
        </ul><!-- End -->

    </div>

    
</div>

</div>

</div>
