<div class="row" id="education">

<div class="col-md-12">
    <h2 class="mt-5 text-center">Education</h2>

    <div class="row">
    <div class="col-lg-10 mx-auto">
        
        <!-- Timeline -->
        <ul class="timeline">
            
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="education-content">
                    <h3><b>IPI Akademija</b></h3> <span class="float-right">Sept. 2018- 2022</span>
                        <h4><b>Bachelor of Information Technology</b></h4>
                        
                        <ul>
                            <li>Learning basics of programming using C programming language</li>
                            <li>Object Oriented Programing in C++ and creating a desktop application applying Qt framework. </li>
                            <li>Creating “Exam management” project for Web programming subject applying JavaScript, PHP and Bootstrap </li>
                        </ul>
                  
                   
                </div> </li>
          
        </ul><!-- End -->

        <h2 class="mt-5 text-center">Certifications</h2>

        <ul class="timeline">
            
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="education-content">
                    <h3><b>Amazon Web Services</b></h3> 
                        <h4><b>Certified Cloud Practitioner</b></h4>
                        
                        <ul>
                            <li><a href="https://www.credly.com/badges/38b4512e-8c37-4d3e-8e87-de16c7aebdc6/linked_in_profile" target="_blank">See Credentials</a></li>
                           
                        </ul>
                  
                   
                </div> </li>
          
        </ul>

    </div>

    
</div>

</div>

</div>
