<div class="row" id="about">


<div class="col-md-12">
    <h2 class="text-center mt-5">About Me</h2>

    <div class="information">
        <div class="about-img">
            <img src="./assets/img1.jpg" alt="">
        </div>
        <p>Hello. My name is Ahmed Sakic and I am Bachelor of Information technology.
            I am passionate about learning new technologies and skills that will help me and 
            people around me grow. <br>
            Lover of innovation and everything related to generate new knowledge, and not only that, but share it with the community. <br>
            Face problems with a smile and solve them as soon as possible. 
            My main goal is to learn and improve in web development field.
        </p>
    </div>
</div>

</div>
