<div class="row" id="experience">


<div class="col-12">

    <h2 class="mt-5 text-center">Experience</h2>

    <div class="row">
    <div class="col-lg-10 mx-auto">
        
        <!-- Timeline -->
        <ul class="timeline">
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="experience-content">
                    <h3><b>DSO Gradient</b></h3> <span class="float-right">Sept. 2021 - Jul. 2022</span>
                        <h4><b>Software Developer - Full Time</b></h4>
                        
                        <ul>
                            <li>Development of Gradient's in-house project “Duty Roster”. Applying Node.js, Express.js, Bootstrap, HTML and CSS technologies.</li>
                            <li>Learning and applying Express.js and MVC pattern on internal projects.  </li>
                            <li>Writing and styling technical usage documentation for the “Notification Service”, “Sub-scription Service” and “Socket Service” projects. Applied technologies are: HTML, CSS, Bootstrap, and converting Typescript to Markdown and Markdown to HTML.</li>
                            <li>Basics of HTML 5, CSS 3, DOM Manipulation & User input processing, and MVVM pattern.</li>
                            <li>Concepts of Object Oriented Programming, Generics, Algorithms and Data Structures.</li>
                            <li>Proceeding TypeScript training.</li>
                        </ul>
                  
                   
                </div>
            </li>
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="experience-content">
                    <h3><b>Attending Gradient Typescript Training</b></h3> <span class="float-right">Mar. 2021 - Aug. 2021</span>
                        <h4><b>Trainee</b></h4> 
                        
                        <ul>
                            <li>Learning basics of Programming, applying TypeScript programming language. </li>
                            <li>Basic data types, string, boolean, arrays (indexing), operators & flow control. </li>
                            <li>Functions, recursive functions, loops, objects and references</li>
                            <li>Search and Sort algorithms such as Binary search, Linear search, Merge sort, Quick sort, Insertion sort…</li>
                            
                                
                        </ul>
                  
                   
                </div> </li>
            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <div class="experience-content">
                    <h3><b>BILD-IT Programming Course</b></h3> <span class="float-right">Jun. 2019 - Jan. 2020</span>
                        <h4><b>Course attendant</b></h4>
                        
                        <ul>
                            <li>Learning basics of Java programming.</li>
                            <li>Object Oriented Programming in Java.</li>
                            <li>Git and GitHub.</li>
                           

                            
                                
                        </ul>
                  
                   
                </div> </li>
          
        </ul><!-- End -->

    </div>

    
</div>


</div>

</div>