<div class="row" id="projects">
    <div class="col-md-12">
        <h2 class="text-center mt-5 mb-4">Projects</h2>
<div class="project-container">


    <div class="project-card">
        <img src="./assets/socialnetwork.png" alt="">

        <h3 class="mt-4">Social Network</h3> <br>
        <h6 class="mt-2"> <strong>Technology:</strong> ASP.NET Core web API & Angular11 </h6>

        <p class="description">Place where you can make your own gallery, create posts and communicate with other students. </p>

        <p class="description">JSON Web Tokens are used for authorization and all other sensitive informations are protected.</p>

        <hr>
        <a href="https://thesocialnetworkapp.azurewebsites.net/home">View Project</a><br>
        <a href="https://github.com/Mcraellhs/SocialNetwork">Source Code (Github)</a>


    </div>
    


    <div class="project-card">
        <img src="./assets/homeprojectimg.png" alt="">

        <h3 class="mt-4">Personal portfolio made in Angular</h3>
        <h6 class="mt-2"> <strong>Technology:</strong> Angular 11 and Bootstrap 4 </h6>

        <p class="description">My personal portfolio made using Angular and Bootstrap as responsive deisgn. </p>

        <p class="description">It describes my projects, activities, skills and resume.
            &nbsp;
        </p> 

        <hr>
        <a href="https://app-portfolio-angular.herokuapp.com/">View Project</a><br>
        <a href="https://github.com/Mcraellhs/Angular-Personal-Portfolio">Source Code (Github)</a>



    </div>

    <div class="project-card">

        <img src="./assets/nasa.png" alt="">

        <h3 class="mt-4">Nasa mission control</h3> <br>
        <h6 class="mt-2"> <strong>Technology:</strong> Express js and TypeScript </h6>

        <p class="description">Application to schedule a mission launch for interstellar travel to one of Kepler exoplanets. </p>

        <p class="description">Implemented backend API while using data from real nasa exoplanet archive.</p>

        <hr>
        <a href="https://nasa-missions-control-app.herokuapp.com/">View Project</a><br>
        <a href="https://github.com/Mcraellhs/nasa-mission-control">Source Code (Github)</a> <br>
        <div class="note"> <b>NOTE:</b> I did <b>NOT</b> create frontend, only backend.</div>



        
    </div>

    


</div>

<div class="project-container">



    <div class="project-card">

        <img src="./assets/scarface.png" alt="">

        <h3 class="mt-4">Scarface game in Qt</h3> <br>
        <h6 class="mt-2"> <strong>Technology:</strong> Qt5 and MySQL </h6>

        <p class="description">Movie inspired game where you play as Tony Montana and take down corrupt cops. </p>

        <p class="description">Game will take you to the 80's with it's unique style and music.</p>

        <hr>
        <a class="disabled" href="#">View Project</a><br>
        <a href="https://github.com/Mcraellhs/Qt-c-Scarface-game">Source Code (Github)</a>



        
    </div>


    <div class="project-card">

        <img class="img-case" src="./assets/phpproject.png" alt="">

        <h3 class="mt-4">Exam Management</h3>
        <h6 class="mt-2"> <strong>Technology:</strong> PHP MySQL and Bootstrap </h6>

        <p class="description">Access is divided into 2 groups, admin and user, where each of them has different privileges. </p>

        <p class="description">Admin is capable of managing students and creating a new exam, while student has privilege of applying to a created exam.</p>

        <hr>
        <a class="disabled" href="#">View Project</a><br>
        <a href="https://github.com/Mcraellhs/PHP-Admin-User-Managment-System">Source Code (Github)</a>




    </div>

    <div class="project-card">
        <img  src="./assets/qtquiz.png" alt="">

        <h3 class="mt-4">25 Questions Quiz</h3>
        <h6 class="mt-2"> <strong>Technology:</strong> Qt5 and MySQL </h6>

        
        <p class="description">25 Multiple choice quiz about Mixed Martial Arts and Boxing. </p>

        <p class="description">User must login before attempting to solve the questions. After he completes all 25 questions, his final score will be saved in database.</p>

        <hr>
        <a class="disabled" href="#">View Project</a><br>
        <a href="https://github.com/Mcraellhs/QT-c-Quiz-with-DB">Source Code (Github)</a>


    </div>
    


</div>
        
        

    </div>
</div>
