<div class="row" id="languages">


    <div class="col-md-12">
        <h2 class="mt-5 mb-5 text-center titlelang">Languages</h2>


        <div class="language-container">

            <div class="language-card" style="border-bottom: 2px solid red;">
<img src="./assets/english.png" alt="">
<span style="float: right;">C1</span>
<h2>Listening: </h2>

<span style="float: right;">C1</span>
<h2>Reading: </h2>


<span style="float: right;">B2</span>
<h2>Writing: </h2>

<span style="float: right;">C1</span>
<h2>Spoken production: </h2>

<span style="float: right;">C1</span>
<h2>Spoken interaction: </h2>




            </div>

            
            <div class="language-card" style="border-bottom: 2px solid blue;">
                <img src="./assets/bosnian.png" alt="">

                <h2 class="text-center" style="color: rgb(17, 17, 192);">Mother tongue:</h2>
                <h2 class="text-center" style="color: rgb(17, 17, 192);">Bosnian</h2>
            </div>


        </div>


    </div>

</div>
