.home-content {
    
    height: 800px;
    overflow: hidden;
    background-size: cover;

}


.home-bg{
    height: 800px;
    width: 100%;
    
}

.main-content{
    position:absolute;
    z-index:10;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center
}
.icons-media{
    position: absolute;
   
  
    z-index:10;
    top:30%;
    right:5%;
}
svg{
    transition: width 1s, height 1s;

}
svg:hover{
    width: 80px;
    height: 80px;
}


.profile-img{
 
  width: 200px;
  height: 200px;
  object-position:85% 15%;

  object-fit:cover;

 
  
  margin-top: 90px;
  
   border-radius: 50%;
   transition: width 2s, height 2s;

}
.profile-img:hover{
    width: 250px;
    height: 250px;
}

.home-overlay{
    overflow: hidden;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(33,125,187,0.6);
    z-index:1
}

@keyframes fullName {
    0%   {font-size: 0px}
    
    100% {font-size: 100px}
  }

h2{
    animation-name: fullName;
    animation-duration: 3s;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 100px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    

}



h3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;


}

.btn-rounded-white{
    display:inline-block;
    color:#fff;
    padding:15px 25px;
    border:3px solid #fff;
    border-radius:30px;
    transition:.5s ease all
}

.btn-rounded-white:hover{
    color:#3498db;
    background:#fff;
    text-decoration:none
}

.header{
    
    overflow: hidden;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align:center;
    z-index:120;
    
    }
  .header ul{
      display:inline-block;
    background:#fff;
    text-align:center;
    padding:10px;margin:0;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px
}
  .header li{
    display:inline-block
    
}
  .header a{
    transition: 1s background-color, font-weight;
      display:block;
      color:red;
      padding:10px
    }
  .header a:hover{
    color:#fff;
    text-decoration:none;
    background:#ff7961;
    border-radius:4px;
    font-weight: 600;
}
  .header a:focus{
      color:#fff;
      background: #ff7961;
      text-decoration:none;
      
      

}
    .header.active{
        display:block}
  .header.sticky{
      position:fixed;
    z-index:999
}
.hamburger-button{
    display: none;
    background: transparent;
    border: 0;
    overflow: hidden;
    position: absolute;
    
    top: 0;
    left: 1;
    height: 50px;
    width: 50px;
    z-index: 10;
}
.hamburger{

    width: 30px;
    height: 30px;
   
}
.x-icon{
    display: none;
    background: transparent;
    border: 0;
}

@media only screen and (max-width: 525px){

    header{
        display: none;
    }
    
}

@media (max-width:408px){
    h2{
        font-size: 80px;
    }
}